body{
    margin: 0%;
}
.navbar{
    background-color: #333;
    overflow: hidden;
    font-size: 25px;
    color: #fff;
    padding: 10px;

}
.navbar a{
    color:fff;
    padding: 14px 20px;
}
.navbar button{
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    float: right;
}
.sign-in-or-sign-up{
    text-align: center;
    margin-top:50px;
}
.sign-in-or-sign-up button{
    background-color: #008CBA;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.auth-div{
    text-align: center;
    margin-top: 100px;
}
.auth-form input{
    padding: 10px;
    margin: 10px;
    font-size: 16px;
}
.auth-form label{
    font-size: 18px;
    margin-right: 10px;
}
.auth-form select{
    padding: 10px;
    margin: 10px;
    font-size: 16px;
}
#logged-in-as{
    float: right;
    margin: 10px;
    font-size: 18px;
}
.auth-form button{
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}
.button{
    background-color: #f44336;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}
#map {
    width: 100%;
    height: 400px;
}
#complaint-dialog {
    width: 700px;
    height: 600px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

#videoElement {
    width: 400px;
    height: 300px;
    border: 1px solid black;
}

#photoPreview {
    max-width: 400px;
    max-height: 300px;
    border: 1px solid black;
}
