body{
    margin: 0%;
}
.navbar{
    background-color: #333;
    overflow: hidden;
    font-size: 25px;
    color: #fff;
    padding: 10px;

}
.navbar a{
    color:fff;
    padding: 14px 20px;
}
.navbar button{
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    float: right;
}
.sign-in-or-sign-up{
    text-align: center;
    margin-top:50px;
}
.sign-in-or-sign-up button{
    background-color: #008CBA;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.auth-div{
    text-align: center;
    margin-top: 100px;
}
.auth-form input{
    padding: 10px;
    margin: 10px;
    font-size: 16px;
}
.auth-form label{
    font-size: 18px;
    margin-right: 10px;
}
.auth-form button{
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}